.doctors {
  &_bg {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  &_offset {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  &__arrows {
    display: flex;
    align-items: center;
    position: relative;
  }

  &__arrow {
    width: 48px;
    height: 48px;

    &:first-child {
      right: 70px;
      transform: rotate(180deg);
    }

    &:after {
      display: none;
    }

    &:last-child {
      margin-right: 0;
      left: auto;
      right: 0;
    }
  }

  &-slider {
    &__container {
      border-radius: 0px 0px 8px 8px;
      background: #F6F9FF;
      padding: 16px 24px 24px 24px;

      .btn__default {
        width: 100%;
      }
    }

    &__title {
      color: #1C1C1C;
      font-feature-settings: 'clig' off, 'liga' off;
      font-size: 20px;
      font-weight: 700;
      line-height: 1.2;
      margin-bottom: 8px;

      span {
        display: block;
      }
    }

    &__subtitle {
      color: #758396;
      font-feature-settings: 'clig' off, 'liga' off;
      font-size: 16px;
      font-weight: 400;
      margin-bottom: 12px;
    }

    &__number {
      color: #94C5CC;
      font-feature-settings: 'clig' off, 'liga' off;
      font-size: 24px;
      font-weight: 700;
      line-height: 1;
    }

    &__descript {
      color: #94C5CC;
      font-feature-settings: 'clig' off, 'liga' off;
      font-size: 14px;
      font-weight: 500;
      margin-bottom: 17px;
    }
  }
}

@media (max-width: 990px) {
  .doctors_offset {
    padding-top: 65px;
    padding-bottom: 65px;
  }
}

@media (max-width: 850px) {
  .doctors-slider__image {
    img {
      width: 100%;
    }
  }
}

@media (max-width: 550px) {
  .doctors-slider.swiper {
    overflow: visible;
  }
  .doctors__arrows {
    display: none;
  }
  .swiper-pagination-bullet {
    background: #3B8293;
  }

  .swiper-doctor-pagination {
    text-align: center;
    position: relative;
    bottom: -18px;
  }
}