.header {
  z-index: 99;
  &_offset {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  &_border-bottom {
    border-bottom: 1px solid #D3E1F3;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-navbar {
    display: flex;
    align-items: center;

    &__link {
      margin-right: 28px;

      color: #1C1C1C;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.2;

      &:last-child {
        margin-right: 0;
      }
      transition: all 0.4s ease;
      &:hover {
        color: #93AED1;
      }
    }
  }

  &__button {
    display: flex;
    align-items: center;

    .btn_transparent {
      margin-right: 10px;
    }
  }

  &__phone {
    color: #1C1C1C;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;

    img {
      margin-right: 10px;
    }
  }

  &-search__link {
    display: inline-block;
    padding: 13px;
    transition: all 0.4s ease;
    border-radius: 8px;
    background: #FFF;

    &:hover {
      box-shadow: 1px 1px 19px 0px rgba(59, 130, 246, 0.15);
    }
  }

  &-search {
    position: relative;

    &-widget {
      opacity: 0;
      visibility: hidden;
      transition: all 0.4s ease;

      &.active {
        opacity: 1;
        visibility: visible;
      }

      img {
        position: absolute;
        top: -30px;
      }

      width: 350px;

      border-radius: 8px;
      background: #FFF;
      box-shadow: 1px 1px 19px 0px rgba(59, 130, 246, 0.15);
      position: absolute;
      bottom: -111px;
      left: -20px;
      z-index: 2;
      padding: 16px;
    }
  }

  &-burger {
    width: 40px;
    height: 32px;
    position: relative;
    display: none;
    span {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      height: 4px;
      background-color: rgba(147, 174, 209, 1);

      &:nth-child(2) {
        top: 14px;
      }

      &:last-child {
        top: auto;
        bottom: 0;
      }
    }

    &.active {
      span {
        transform: rotate(45deg);
        top: 13px;

        &:nth-child(2) {
          display: none;
        }

        &:last-child {
          transform: rotate(-45deg);
        }
      }
    }
  }

  &-mobile {
    position: fixed;
    overflow-y: scroll;
    left: 0;
    right: 0;
    bottom: 0;
    top: 81px;
    background-color: #fff;
    z-index: 14;
    transform: translateX(-100%);
    &.active {
      transform: translateX(0%);
    }
    transition: all 0.4s ease;
    .header__phone {
      text-align: center;
      margin-bottom: 57px;
      display: block;
      color: #1C1C1C;
      img {
        width: 26px;
      }
      font-size: 32px;
    }

    &__search {
      position: relative;
      max-width: 350px;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      margin-top: 55px;
      margin-bottom: 70px;
    }

    &__container {
      display: flex;
      flex-direction: column;
    }

    &__link {
      color: #1C1C1C;
      font-size: 32px;
      text-align: center;
      font-weight: 300;
      line-height: 1.2;
      margin-bottom: 60px;
      &.active {
        color: #93AED1;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__wrapper {
      max-width: 530px;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      padding-top: 100px;
      padding-bottom: 70px;
      padding: 0 15px;
    }
    &__button {
      width: 100%;
      .btn {
        width: 100%;
        font-size: 16px;
      }
    }

    .input__default {
      border: 1px solid rgba(147, 174, 209, 0.50);
      padding: 13px 16px 20px;
      border-radius: 8px;
      width: 100%;
      color: rgba(117, 131, 150, 0.50);

      &::placeholder {
        color: rgba(117, 131, 150, 0.50);
      }
    }

    .label__default {
      width: 100%;

      span {
        color: #93AED1;
        background-color: #fff;
      }
    }
  }
}

.input-search {
  border-radius: 8px;
  border: 1px solid rgba(147, 174, 209, 0.50);
  padding: 18px 16px;
  line-height: 1;

  color: rgba(117, 131, 150, 0.50);
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  width: 100%;

  &::placeholder {
    color: rgba(117, 131, 150, 0.50);
  }
}

@media (max-width: 1370px) {
  .header {
    &__logo {
      max-width: 180px;
    }
  }

  .header-navbar__link {
    margin-right: 21px;
  }

  .header {
    .btn__default {
      padding: 11px 24px;
    }
  }

  .header__phone {
    font-size: 18px;
  }

  .header-navbar {
    margin-right: 10px;
  }

  .header-search {
    margin: 0 5px;
  }
}

@media (max-width: 1200px) {
  .header-navbar__link {
    margin-right: 13px;
  }

  .header__logo {
    max-width: 160px;
  }

  .header__phone {
    font-size: 16px;
  }

  .header-navbar__link {
    font-size: 15px;
  }

  .header .btn__default {
    font-size: 14px;
    padding: 7px 20px;
  }
}


@media (max-width: 1100px) {
  .header-navbar {
    display: none;
  }

  .header__phone {
    display: none;
  }

  .header-search {
    display: none;
  }

  .header__button {
    display: none;
  }

  .header {
    position: fixed;
    left: 0;
    right: 0;
    background-color: #fff;
  }

  .header-burger {
    display: block;
  }
}