.implant {
  &_offset {
    padding-top: 72px;
    padding-bottom: 99px;
  }
  &_bg {
    background: linear-gradient(98deg, #F6F9FF 16.77%, #F6F6FF 94.24%);
  }
  &__item {
    height: 100%;
    border-radius: 8px;
    background: #FFF;
    overflow: hidden;
  }
  &__name {
    color: #1C1C1C;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 12px;
  }
  &__col {
    color: #1C1C1C;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 16px;
    font-weight: 400;
    list-style-type: none;
    line-height: 24px;
    padding-left: 29px;
    margin-bottom: 24px;
    li {
      position: relative;
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -20px;
        width: 5px;
        border-radius: 50%;
        background-color: #3B82F6;
        height: 5px;
      }
      margin-bottom: 4px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &__button {
    width: 100%;
    .btn__default {
      width: 100%;
    }
  }
  &__wrapper {
    margin-left: -12px;
    margin-right: -12px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: -24px;
    margin-top: 40px;
  }
  &__content {
    padding: 16px 24px 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 216px);
  }
  &__width {
    width: 25%;
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 24px;
  }
  &__image {
    font-size: 0;
  }
  &-img {
    position: absolute;
    bottom: 0;
    pointer-events: none;
    left: 0;
  }
  &-form {
    position: relative;
    height: 100%;
    border-radius: 8px;
    background: #93AED1;
    padding: 40px 24px 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__title {
      color: #FFF;
      font-feature-settings: 'clig' off, 'liga' off;
      font-size: 24px;
      font-weight: 500;
      line-height: 1.2;
      margin-bottom: 12px;
    }
    &__subtitle {
      color: #FFF;
      font-feature-settings: 'clig' off, 'liga' off;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.2;
      margin-bottom: 32px;
    }
    &__item {
      position: relative;
      margin-bottom: 24px;
      display: block;
      padding: 13px 10px;
      &:last-child {
        margin-bottom: 0;
      }

      border-radius: 8px;
      border: 1px solid rgba(255, 255, 255, 0.80);
    }
    &__button {
      z-index: 1;
      .btn_transparent {
        color: #fff;
        border-color: #fff;
        width: 100%;
      }
    }
  }
}

p.implant__col {
  padding-left: 0;
}