.licenses {
  &_offset {
    padding-top: 100px;
    padding-bottom: 50px;
  }
  &__container {
    margin-top: 40px;
    margin-left: -12px;
    margin-right: -12px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  &__width {
    width: 25%;
    padding-left: 12px;
    padding-right: 12px;
  }
  &__item {
    padding: 20px 21.25px 20px 23px;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 1px 1px 19px 0px rgba(59, 130, 246, 0.15);
  }
}