@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

p {
  margin: 0;
}

h1,
h2 {
  margin: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
}

body,
html {
  overflow-x: hidden;
}

.wrapper__default {
  max-width: 1400px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.btn__default {
  border-radius: 8px;
  background: #93AED1;
  color: #FFF;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  display: inline-block;
  padding: 14px 32px;
  transition: all 0.4s ease;

  &:hover {
    box-shadow: 0px 12px 19px 0px rgba(59, 130, 246, 0.25);
  }
}

.btn_transparent {
  background-color: rgba(255, 255, 255, 0);
  color: #93AED1;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  border: 2px solid #93AED1;

  &:hover {
    color: #fff;
    background-color: #93AED1;
  }
}

img {
  max-width: 100%;
}

.title__main {
  color: #1C1C1C;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.2;
}

.label__default {
  span {
    position: absolute;
    left: 16px;
    top: -10px;
    color: #FFF;
    background-color: #93AED1;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    display: block;
  }

}

.input__default {
  border: none;
  background-color: rgba(255, 255, 255, 0);
  outline: none;
  width: 100%;

  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;

  &::placeholder {
    color: #FFF;
  }
}


.input-item {
  border: 1px solid hsla(0, 0%, 100%, .8);
  border-radius: 8px;
  display: block;
  margin-bottom: 24px;
  padding: 13px 10px;
  position: relative;
}

.btn_white {
  border: 2px solid #FFF;
  color: #fff;
}

hr {
  margin: 40px 0 24px;
  background: #E2ECFF;
  height: 1px;
  border: none;
  box-shadow: none;
  opacity: 1;
}

@media (max-width: 990px) {
  .title__main {
    font-size: 32px;
  }
}

button.btn__default {
  border: none
}